<h1>Comments</h1>

<table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Userh>
                    <th>Date</th>
                    <th>Body</th>
                    <th>Approve Comments</th>
                    <th>Edit</th>
                    <th>Delete</th>
                   
                </tr>
            </thead>
            
            <tbody>
               {{#each comments}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{user}}</td>
                    <td>{{date}}</td>
                    <td>{{body}}</td>
                    <td> <input data-id="{{id}}" type="checkbox" {{#if approveComment}} checked {{/if}} name="approveComment"></td>
                    <td>
                        <a href="/admin/categories/edit/{{id}}" class="btn btn-info">Edit</a>
                    </td>
                    <td>

                        
                        <form action="/admin/comments/{{id}}?_method=delete" method="POST">
                            <button type="submit" class="btn btn-danger"> Delete </button>
                        </form> 
                    </td>
                        
                </tr>
                {{/each}}
            </tbody>
        </table>